<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<meta name="author" content="Paulo Costa">
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="https://kit.fontawesome.com/006642858d.js"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="icon" href="img/icon-books.png">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<!--<link rel="stylesheet" href="/static/css/styles.css">-->
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap"
		rel="stylesheet">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">	
	<title>Academy</title>
</head>
<!--Cabeçalho-->
<header th:fragment="cabecalho">

	<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(40, 126, 159)">
		<a class="navbar-brand" th:href="@{/}">
			<img src="img/logo_livro.svg" width="85px" />
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navMobile">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div id="navMobile" class="navbar-collapse collapse justify-content-end">
			<a class="btn-nav nav-item nav-link"><i class="fa fa-home"></i> Home</a>
			<a class="btn-nav nav-item nav-link" th:href="@{inserirLivros}"><i class="fa fa-book"></i> Cadastra Livro</a>
			<a class="btn-nav nav-item nav-link"><i class="fas fa-search"></i> Pesquisar Livro</a>
			<a class="btn-nav nav-item nav-link btn-danger"><i class=" fas fa-times"></i> Sair</a>
		</div>
	</nav>
</header>

<!--Rodape-->
<footer th:fragment="rodape">
	<div class="rodape">
		<span>Todos os Direitos Reservados - 2023 &copy; Paulo Costa</span>
	</div>
</footer>

<body>


	<script src="/webjars/jquery/3.6.4/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>